 <!-- Navbar -->
 <nav class="navbar navbar-expand-lg navbar-bg-color">
    <div class="container">
      <a class="navbar-brand text-white" href="#">Go Grubz</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Order</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Locations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Add your restaurant</a>
          </li>
        </ul>
        <div class="ms-3">
          <button class="btn btn-outline-light me-2">Sign Up</button>
          <button class="btn btn-light">Sign In</button>
        </div>
      </div>
    </div>
  </nav>